MQTT_CLIENT_ID=
MQTT_PORT=
MQTT_HOST=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_sslCertificateFile=
MONGO_URI=
MONGO_USERNAME=
MONGO_PASSWORD=
VAULT_ADDR=
VAULT_CACERT=
VAULT_ROLE_ID=
VAULT_SECRET_ID=
VAULT_TOKEN=